body{
    background-color: #dddddd;
}

/* Bắt đầu header */
.header{
    background-color: #192433;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.header-logo img {
    height: 40px;
    width: 40px;
  
}
.header-logo {
    padding-left: 150px;
}


.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 100px;
}

.list-nav{
    margin-left: 20px;
}

.list-nav a{
    text-decoration: none;
    color: #222222;
    height: 25px;
    background-color: #0f82af;
    padding: 4px 18px;
    font-size: 15px;
}

.list-nav a:hover{
    background-color: #0e7299;
    color: black;
}
.sidebar h4 {
  padding-top: 20px;
}
.search-content {
    width: 170px;
    height: 28px;
    border: 1px solid #AAA;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.search button {
    border: 1px solid #AAA;
    border-radius: 5px;
   
}
.search button:hover{
    background-color: #dddddd;
}
.menu {
    list-style: none;
    padding: 0;
}
.menu a {
    color: inherit;
    text-decoration: none;
    width: 210px;
    display: block;
    padding: 10px;
}
.menu a:hover{
    background-color:  #fff;
    color: black;
}
.content-left img {
    height: 154px;
    width: 250px;
    border: 1px solid #EEE;
    border-radius: 10px;
   
}
.content-right {
    width: 500px;
    margin-left: 20px;
   
   
}
.content-index{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.content {
    display: flex;
    width: 750px;
    padding: 8px;
    margin: 0 auto;
    
}
.content-right a:hover {
    text-decoration: none;
    color: #00bad6;
}
.content-right a{
    text-decoration: none;
    color: inherit;
}
.content-right h2{
    margin: 0;
}
.adv-img img{
    height: 130px;
    width: 220px;
    margin-bottom: 20px;
}
.adv {
    margin: 70px auto 20px auto;

}
.main {
    min-height: 750px;
}
.main h4 {
    margin: 20px 0 10px 20px;
}
.row {
     background-color: #dddddd;
}
.footer{
    background-color: #192433;
    color: #ffffff;
  
      
  
    
}
.footer-list{
    list-style: none;
    text-align: center;
    padding-left: 0;
}



.form-row {
    display: flex;
    margin: 10px;
}
.form-row input {
   margin-left: 10px;
}
.dangnhap button {
    margin-left: 10px;
}
.content-write {
    resize: none;
    height: 80px;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
}
.layout-main {
    padding: 10px;
    margin: 20px 0px;
    background-color: #ffffff;
}
.content-layout img {
    width: 100%;
}
.content-layout {
    padding-bottom: 8px;
    border-bottom: 1px solid #bbbbbb;
}
.content-layout .username-post {
    margin: 10px 0;
}
.content-layout .time-post{
    margin: 10px 0;
}
.content-layout .content-post{
    line-height: 22px;
}
.button-likeshare{
    border-bottom: 1px solid #bbbbbb;
}
.button-list{
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.button-list .button-post {
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}
.button-post:hover{
    background-color: #ccc;
}
.comment {
    display: flex;
    margin: 10px 0;
    font-size: 15px;
}
.user-comment {
    font-weight: bold;
    font-size: 15px;
    padding-left: 65px
}
.content-comment {
    margin-left: 15px;
}
.comment-form {
    display: flex;
    flex-direction: row;
}
.comment-send {
    border-radius: 10px;
    border: 1px solid #AAA;
    flex-grow: 1;
    
}
.comment-type {
    border: 1px solid #AAA;
    border-radius: 10px;
    height: 25px;
    margin-right: 20px;
    flex-grow: 9;
}